body, html {
    height: 100%;
    margin: 0;
  }
  
  .hero-image {
    background-image: url("moon2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: thistle;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    position: fixed;
    height: 100%;
    overflow: auto;
    border:1px solid #000;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    margin-bottom: 25px;
    text-decoration: none;
}

li a.active {
    background-color: thistle;

}

li a:hover:not(.active) {
    text-decoration: underline;
}

.logo-image {
    width: 90%;
    margin: 20px 5px 10px 5px;
}

.top-banner {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: thistle;
}

.body-container {
    
    position: absolute;
    top: 20%;
    left: 33%;
    margin: -25px 0 0 -25px;
    height: 1000px;
}

.btn-cta {
    position: absolute;
    top: 10px;
    right: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    background-color: thistle;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-cta span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-cta span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-cta:hover span {
    padding-right: 25px;
}

.btn-cta:hover span:after {
    opacity: 1;
    right: 0;
}

/* from w3schools */
.container-fluid {
    padding: 60px 50px;
    /* margin-left: 8%; */
  }

  .text-center {
      color: thistle;
  }

  .row {
      margin-left: 22%;
      margin-top: 3%;
  }

  .row3 {
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .row4 {
    margin-left: 27%;
    padding-top: 3%;
  }

  .btn:hover {
      background-color: thistle;
  }

  .row6 {
      margin-left: 4%;
  }

